// Import Fuse core library
@import '@fuse/scss/core';

// Import app.theme.scss
@import 'app/app.theme';

/* You can add global styles to this file, and also import other style files */

@import "client/sass/variables";
@import "client/sass/mixins";
@import '~@angular/material/theming';
//PRIMENG STYLES

body .ui-dropdown,
body .ui-multiselect {
  @include flexbox($flex, center, center);
  @include filters-default;

  .ui-dropdown-label,
  .ui-multiselect-label {
    @include font-family($popins, 16px, 500);
    color: $h-color;
    background: transparent;
    padding: 6px 8px;
    text-align: center;

  }

  .ui-dropdown-panel,
  .ui-multiselect-panel {
    margin-top: 3px;
    border-radius: 4px;
    overflow: hidden;

  }


  .ui-dropdown-trigger,
  .ui-multiselect-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $h-color;
    background: transparent;
    position: static;
    border: none;

    .ui-dropdown-trigger-icon,
    .ui-multiselect-trigger-icon {
      position: static;
      top: 0;
      left: 0;
      margin: 0;
    }
  }

  .ui-dropdown-label-container,
  .ui-multiselect-label-container {
    width: calc(100% - 48px);
  }

  &:not(.ui-state-disabled).ui-state-focus {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-color: transparent;
  }
}

body .pi {
  font-size: 14px; //Strelica
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  font-size: 14px;
}
