<div id="login" fxLayout="column">
  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div class="login-container">
      <img
        class="logo"
        src="assets/images/logo_nest360_white.png"
        alt="logo"
        [@animate]="{ value: '*', params: { duration: '300ms', y: '-100px' } }"
      />
      <div id="login-form" [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }">
        <div class="title">Admin pristup</div>

        <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
            <mat-error *ngIf="loginForm.get('email').hasError('required')">
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                !loginForm.get('email').hasError('required') &&
                loginForm.get('email').hasError('email')
              "
            >
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              [type]="passVisibility ? 'text' : 'password'"
              matInput
              type="password"
              formControlName="password"
            />
            <mat-icon matSuffix class="secondary-text" (click)="passVisibility = !passVisibility">
              {{ passVisibility ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error>
              Password is required
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color="accent"
            class="submit-button"
            aria-label="LOG IN"
            [disabled]="loginForm.invalid"
          >
            LOGIN
          </button>
        </form>

        <mat-error *ngIf="error">
          {{ error }}
        </mat-error>
      </div>
    </div>
  </div>
</div>
