<div>
  <div mat-dialog-content>
    <p>{{message}}</p>
  </div>
  <div *ngIf="image" class="wrapper">
    <div class="image-container mat-elevation-z8">
      <div class="overlay"></div>
      <img src="{{environment.mediaUrl}}/sm-{{image}}">
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="accent" cdkFocusInitial (click)="onYesClick()">Da</button>
    <button mat-raised-button class="fuse-white" (click)="onNoClick()">Ne</button>
  </div>
</div>
