@import "client/@fuse/scss/fuse.scss";



button {
  margin-right: 15px;
}

.wrapper {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;

  .image-container {
    position: relative;
    width: 250px;
    height: 200px;
    border-radius: 4px;


    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: (#000000), $alpha: 0.2);
      border-radius: 4px;

    }

    img {
      display: flex;
      object-fit: cover;
      object-position: center;

      width: 100%;
      height: 100%;
      border-radius: 4px;

    }
  }
}
