<div id="page-wrapper" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <!-- HEADER -->

  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <!-- APP TITLE -->

    <!-- ADD TITLE -->
    <div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="start center"
      [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
      <span class="logo-text h1">
        <a [routerLink]="['/korisnici', 'list']">
          <mat-icon class="accent logo-text h1">arrow_back</mat-icon>
        </a>
        {{ routeTitle }}
      </span>
    </div>
    <!--  SAVE BUTTON -->

    <button *ngIf="!isLoading" mat-raised-button class="add-product-button fuse-white mt-md-0" [disabled]="!form.valid"
      (click)="saveData()" [@animate]="{ value: '*', params: { delay: '100ms', x: '25px' } }">
      <span>Sacuvaj</span>
    </button>

    <!-- / SAVE BUTTON -->
  </div>
  <!-- ADD TITLE -->

  <!-- LOADING SPINNER-->
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <!-- LOADING SPINNER-->

  <!-- REACTIVE FORM  -->
  <div *ngIf="!isLoading" class="mat-card mat-elevation-z8 m-16 m-sm-24"
    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
    <form class="p-24 mr-24" name="form" [formGroup]="form">
      <div *ngIf="mode !== passwordMode || mode === createMode">
        <mat-form-field appearance="outline">
          <mat-label>Ime i prezime</mat-label>
          <input matInput type="text" formControlName="fullName" />
          <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
          <mat-error>Polje ime i prezime je obavezno!</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="mode !== passwordMode || mode === createMode">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
          <mat-icon matSuffix class="secondary-text">mail_outline</mat-icon>
          <mat-error>Polje email je obavezno!</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="mode !== editMode || mode === createMode">
        <mat-form-field appearance="outline">
          <mat-label>Nova lozinka</mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-icon matSuffix class="secondary-text">vpn_key </mat-icon>
          <mat-error *ngIf="form.controls.password.errors?.required">Polje lozinka je obavezno!</mat-error>
          <mat-error *ngIf="form.controls.password.errors?.minlength">
            Minimalna duzina lozinke je 6 karaktera</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="mode !== editMode || mode === createMode">
        <mat-form-field appearance="outline">
          <mat-label>Potvrdi lozinku</mat-label>
          <input matInput type="password" formControlName="passwordConfirm" />
          <mat-icon matSuffix class="secondary-text">
            vpn_key
          </mat-icon>
          <mat-error *ngIf="
              !form.get('passwordConfirm').valid &&
              form.get('passwordConfirm').touched &&
              !form.get('passwordConfirm').pristine
            ">
            Lozinke nisu iste!
          </mat-error>
          <mat-error *ngIf="!form.get('passwordConfirm').valid && form.get('passwordConfirm').pristine">
            Polje potvrdi lozinku je obavezno!</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="mode !== passwordMode || mode === createMode">
        <mat-form-field appearance="outline">
          <mat-label>Tip admina</mat-label>
          <mat-select formControlName="role">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="master">Master</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </form>
  </div>
  <!-- / REACTIVE FORM -->
</div>
