@import "client/@fuse/scss/fuse.scss";


:host {
  min-height: 100%;
  width: 100%;

  .logo-text {
    @include media-breakpoint('xs') {
      font-size: 20px;
    }
  }

  button {
    height: 36px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint('xs') {
      font-size: 12px;
    }
  }

  form {
    width: 100%;
  }

  mat-form-field {
    max-width: 500px;
    width: 33.33%;

    @include media-breakpoint('lt-md') {
      width: 50%;
    }

    @include media-breakpoint('lt-sm') {
      width: 100%;
    }


  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  .horizontal-stepper-wrapper,
  .vertical-stepper-wrapper {
    max-width: 800px;
  }


}


.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;


  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-right: 24px;

    @include media-breakpoint('lt-sm') {
      margin-right: 16px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.logo-text {
  display: flex;
  justify-items: center;
  align-items: center;
}


.checkbox-container {
  display: flex;
  padding-bottom: 1.34375em;

  mat-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 5px;
  }

  mat-label {
    text-align: center;
  }
}
