<div class="image-container mat-elevation-z8">
  <div class="image-options">
    <a href="{{environment.mediaUrl}}/lg-{{image.photo}}" target="_blank">
      <div class="image-bigger">
        <mat-icon>zoom_in</mat-icon>
      </div>
    </a>
    <div class="image-delete" (click)="openDialog(image._id,image.photo)">
      <mat-icon>delete</mat-icon>
    </div>
  </div>
  <div class="image-overlay">
  </div>
  <img src="{{environment.mediaUrl}}/sm-{{image.photo}}" alt="{{environment.mediaUrl}}/sm-{{image.photo}}">
</div>
