.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: none;
  z-index: 1;
  border-radius: 4px;
  transition: all 0.3s;
  box-sizing: border-box;


  .image-options {
    position: absolute;
    right: 0;
    z-index: 10;
    display: flex;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
      opacity: 0.9;
    }

    a {
      color: inherit
    }

    mat-icon {
      width: 35px;
      height: 35px;
      font-size: 30px;
      text-align: center;
      background-color: #F5F5F5;
      margin: 5px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: (#000000), $alpha: 0.2);
    border-radius: 4px;


  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }


}
