@import "client/@fuse/scss/fuse.scss";

:host {
  min-height: fit-content;
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow: none;



  .logo-text {
    @include media-breakpoint('xs') {
      font-size: 20px;
    }
  }

  button {
    height: 36px;


    span {
      display: flex;
      justify-content: center;
      align-items: center;

      mat-icon {
        margin: 0 5px 0 0;

      }
    }

    @include media-breakpoint('xs') {
      font-size: 12px;


      span {
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
          margin: 0 5px 0 0;
          font-size: 20px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner-container {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.item-container {

  margin: 24px 24px 75px 24px;


  .second-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    box-sizing: border-box;
    row-gap: 10px;
    column-gap: 10px;
    grid-auto-rows: 150px;
    justify-items: stretch;

    @media screen and (max-width: 407px) {
      justify-items: center;
    }

    .app-media-item-container {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      border-radius: 4px;

      &:hover {
        transform: scale(1.15);
        z-index: 2;
        cursor: pointer;
      }

      @media screen and (max-width: 407px) {
        max-width: 225px;
      }

      .item-holder {

        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 4px;
      }

    }
  }

}

mat-paginator {
  z-index: 30;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
