<div id="page-wrapper" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <!-- HEADER -->

  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <!-- APP TITLE -->

    <!-- ADD TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center"
      [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
      <span class="logo-text h1">
        Mediji
      </span>
    </div>
    <!--  SAVE BUTTON -->

    <button mat-raised-button class="add-product-button fuse-white mt-md-0"
      [@animate]="{ value: '*', params: { delay: '100ms', x: '25px' } }" (click)="startDialog()">
      <span>
        <mat-icon>publish</mat-icon> Upload
      </span>
    </button>

    <!-- / SAVE BUTTON -->
  </div>
  <!-- ADD TITLE -->

  <!-- LOADING SPINNER-->
  <div *ngIf="loadingData" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <!-- LOADING SPINNER-->

  <div *ngIf="!loadingData" class="item-container">
    <div class="second-item-container">
      <!-- ERROR HANDLING -->
      <div *ngIf="mediaGetError" class="spinner-container">
        <mat-error>{{mediaGetError}}</mat-error>
      </div>
      <!-- ERROR HANDLING -->

      <div class="app-media-item-container" *ngFor="let media of mediaList">
        <div class="item-holder">
          <app-media-item [image]="media" (deleted)="onDeleteMedia($event)">
          </app-media-item>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <mat-paginator class="mat-elevation-z8" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="length"
    (page)="paginatorEvent($event)" showFirstLastButtons>
  </mat-paginator>
  <!-- Pagination -->

</div>
