//Mixins
@mixin flexbox($x, $y, $z) {
  display: $x;
  justify-content: $y;
  align-items: $z;
}

@mixin sidebar-visibility($x, $y) {
  visibility: $x;
  opacity: $y;
}

@mixin font-family($x, $y, $z) {
  font-family: $x;
  font-size: $y;
  font-weight: $z;
}

@mixin default-btn($x, $y) {
  border: $none;
  outline: $none;
}

@mixin absolute($a, $b, $c, $d) {
  position: $a;
  top: $b;
  bottom: $c;
  left: $d;
}

@mixin colors($x, $y) {
  background-color: $x;
  color: $y;
}

@mixin filters-default {
  width: 170px;
  min-width: 0;
  border: $none;
  border-radius: $radius-66;
  outline: none;
  height: 48px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  @media screen and (max-width: 407px) {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
}
