//Colors
$h-bgColor:#187CA7;
$h-color:#4E4E4E;
$black:#000000;
$white:#FFFFFF;
$main-color:#039be5;


//font family
$popins: 'Poppins',
sans-serif;
$montserrat:'Montserrat',
sans-serif;

//Other
$header-font:16px;
$max:100%;
$none:none;
$block:block;
$center:center;
$flex:flex;
$hidden:hidden;
$pointer:pointer;
$sidebar-border:1px solid #EDEDED;
$radius-66:24px;
$bold-5:500;
$bold-6:600;
$radius-15:15px;
