@import "client/@fuse/scss/fuse.scss";

:host {

  width: 100%;

  .logo-text {
    @include media-breakpoint('xs') {
      font-size: 20px;
    }
  }




  button {
    height: 36px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }



  @include media-breakpoint('xs') {
    font-size: 12px;
  }


}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  overflow-x: auto;
  display: flex;

  table {
    width: 100%;
    min-width: 1000px;

    .mat-column-options {
      width: 90px;
    }

  }



}

.filters-search-container {
  position: relative;
  display: flex;
  margin-bottom: 24px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  app-filters {
    @media screen and (max-width:1980px) {
      max-width: 1300px;
    }

    @media screen and (max-width:1200px) {
      max-width: 750px;
    }

    @media screen and (max-width:795px) {
      max-width: 600px;
    }

    @media screen and (max-width:610px) {
      max-width: 450px;
    }
  }
}
