<div id="page-wrapper" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <!-- HEADER -->
  <div
    class="header accent p-16 p-sm-24"
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center"
  >
    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <div
        *ngIf="!loadingData"
        class="logo"
        fxLayout="row"
        fxLayoutAlign="start center"
        [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
      >
        <span class="logo-text h1"> Nekretnine </span>
      </div>
    </div>

    <!-- ADD BUTTON -->
    <a [routerLink]="['nova']">
      <button
        *ngIf="!loadingData"
        mat-raised-button
        class="fuse-white mt-md-0"
        [@animate]="{ value: '*', params: { delay: '100ms', x: '25px' } }"
      >
        <span>Dodaj Nekretnine</span>
      </button>
    </a>
    <!-- / ADD BUTTON -->

    <!-- / APP TITLE -->
  </div>
  <!-- / HEADER -->

  <!-- LOADING SPINNER-->
  <div *ngIf="loadingData" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <!-- LOADING SPINNER-->

  <!-- ERROR HANDLING -->
  <div *ngIf="propertyGetError" class="spinner-container">
    <mat-error>{{ propertyGetError }}</mat-error>
  </div>
  <!-- ERROR HANDLING -->

  <div class="m-16 m-sm-24" *ngIf="!loadingData && !propertyGetError">
    <div class="filters-search-container">
      <!-- FILTERS -->
      <app-filters [@animate]="{ value: '*', params: { delay: '100ms', x: '25px' } }"></app-filters>
      <!-- FILTERS -->
    </div>

    <div
      *ngIf="!loadingData && !propertyGetError"
      class="mat-elevation-z8"
      [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
    >
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
            <td mat-cell *matCellDef="let element">{{ element.property_id }}</td>
          </ng-container>

          <!-- offerType Column -->
          <ng-container matColumnDef="offerType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="offerType">Ponuda</th>
            <td mat-cell *matCellDef="let element">
              {{ element.offerType | translate: 'offerType' }}
            </td>
          </ng-container>

          <!-- residenceType Column -->
          <ng-container matColumnDef="residenceType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="residenceType">
              Tip rezidencije
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.residenceType | translate: 'residenceType' }}
            </td>
          </ng-container>

          <!-- room Column -->
          <ng-container matColumnDef="rooms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="rooms">Struktura</th>
            <td mat-cell *matCellDef="let element">{{ element.rooms | translate: 'rooms' }}</td>
          </ng-container>

          <!-- address Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="address">Adresa</th>
            <td mat-cell *matCellDef="let element">
              <!-- {{ element.address}} / {{element.district}} / {{element.city }} -->
              {{ [element.address, element.district, element.city] | address: ' / ' }}
            </td>
          </ng-container>

          <!-- area Column -->
          <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="area">Kvadratura</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.area | area"></td>
          </ng-container>

          <!-- price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="price">Cijena</th>
            <td mat-cell *matCellDef="let element">
              {{ element.price | currency: 'EUR' | rent: element.offerType }}
            </td>
          </ng-container>

          <!-- creator Column-->
          <ng-container matColumnDef="creator">
            <th mat-header-cell *matHeaderCellDef>Agent</th>
            <td mat-cell *matCellDef="let element">{{ element.creator[0].name }}</td>
          </ng-container>

          <!-- Active column -->
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>Aktivna</th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox [checked]="element.isActive" disabled></mat-checkbox>
            </td>
          </ng-container>

          <!-- options Column-->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="button-container" mat-cell *matCellDef="let element">
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a
                  href="{{ environment.clientUrl }}/{{
                    element.offerType === 'sale' ? 'kupujem' : 'iznajmljujem'
                  }}/nekretnine/{{ element.property_id }}-{{ element.slug }}"
                  target="_blank"
                  *ngIf="element.isActive"
                >
                  <button mat-menu-item>
                    <span>Pogledaj</span>
                  </button>
                </a>
                <button mat-menu-item (click)="onUpdate(element.property_id)">
                  <span>Uredi</span>
                </button>
                <button
                  mat-menu-item
                  (click)="activateRealEstate(element.property_id, element.isActive)"
                >
                  <span> {{ element.isActive ? 'Deaktiviraj' : 'Aktiviraj' }}</span>
                </button>
                <button mat-menu-item (click)="openDialog(element.property_id)">
                  <span>Izbrisi</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <!-- Pagination -->
      <mat-paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [length]="length"
        (page)="paginatorEvent($event)"
        showFirstLastButtons
      >
      </mat-paginator>
      <!-- Pagination -->
    </div>
  </div>
</div>
