<div id="page-wrapper" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <!-- HEADER -->

  <div class="header accent p-16 p-sm-24" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    <!-- APP TITLE -->

    <div *ngIf="!loadingData" fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center"
        [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
        <span class="logo-text h1">
          Admini
        </span>
      </div>
    </div>

    <!-- ADD BUTTON -->

    <button *ngIf="!loadingData" mat-raised-button class="add-product-button fuse-white mt-md-0" (click)="onCreate()"
      [@animate]="{ value: '*', params: { delay: '100ms', x: '25px' } }">
      <span>Dodaj Admine</span>
    </button>

  </div>

  <!-- / HEADER -->


  <!-- LOADING SPINNER-->
  <div *ngIf="loadingData" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <!-- LOADING SPINNER-->

  <!-- ERROR HANDLING -->
  <div *ngIf="userGetError" class="spinner-container">
    <mat-error>{{userGetError}}</mat-error>
  </div>
  <!-- ERROR HANDLING -->

  <div class="m-16 m-sm-24" *ngIf="!loadingData && !userGetError && dataSource.data.length > 0">

    <!-- ADMIN TABLE -->
    <div class="mat-elevation-z8" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource">
          <!-- name Column -->
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>Ime i prezime</th>
            <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
          </ng-container>

          <!-- email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <!-- active Column -->
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>Aktivan</th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox *ngIf="element" [checked]="element.isActive" [disabled]="true"></mat-checkbox>
            </td>
          </ng-container>

          <!-- options Column-->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="button-container" mat-cell *matCellDef="let element">
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEditAdmin(element._id)">
                  <span>Uredi</span>
                </button>
                <button mat-menu-item (click)="onChangePassword(element._id)">
                  <span>Promeni lozinku</span>
                </button>
                <button mat-menu-item (click)="blockUser(element._id,element.isActive)">
                  <span>{{element.isActive? 'Blokiraj': 'Odblokiraj'}}</span>
                </button>
                <button mat-menu-item (click)="openDialog(element._id,element.fullName)">
                  <span>Izbrisi</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <!-- Pagination -->
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="length"
        (page)="paginatorEvent($event)" showFirstLastButtons>
      </mat-paginator>
      <!-- Pagination -->

    </div>
    <!-- ADMIN TABLE -->

  </div>
</div>
