@import "client/@fuse/scss/fuse.scss";

:host {
  width: 100%;

  .logo-text {
    @include media-breakpoint('xs') {
      font-size: 20px;
    }
  }

  button {
    height: 36px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint('xs') {
      font-size: 12px;
    }
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  overflow-x: auto;
  display: flex;


  table {
    width: 100%;
    min-width: 600px;



    .mat-column-options {
      width: 90px;
    }
  }


}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo-text {
  display: flex;
  justify-items: center;
  align-items: center;
}
