<div class="search-container">
  <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
    <div class="search" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>search</mat-icon>
      <input fxFlex placeholder="Pretražite nekretninu po ID-ju" (input)="searchForProperty($event)" />
    </div>
  </div>
  <div class="mat-list-container" *ngIf="property">
    <a [routerLink]="[property.property_id]">
      <mat-list class="mat-elevation-z8" role="list">
        <mat-list-item role="listitem">
          {{property.offerType | translate:'offerType'}} / {{property.residenceType | translate:'residenceType'}} /
          {{[property.address, property.district , property.city] | address: ', '}}, ID {{ property.property_id}},
          {{(property.price | currency:'EUR' | rent: property.offerType)}}
        </mat-list-item>
      </mat-list>
    </a>
  </div>
</div>
