@import 'client/@fuse/scss/fuse';

:host {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  @media screen and (max-width:775px) {
    position: static;
  }

  @include media-breakpoint('xs') {
    justify-content: center;
    position: static;
  }

  .search-container {
    z-index: 2;
    width: 100%;

    .search-wrapper {
      display: flex;
      border-radius: 24px;
      width: inherit;
      overflow: hidden;

      @include mat-elevation(1);

      @include media-breakpoint('xs') {
        width: inherit;
      }

      .search {
        width: inherit;
        height: 48px;
        line-height: 48px;
        padding: 0 18px;
        display: flex;
        align-items: center;
        background-color: #ffffff;

        input {
          height: 48px;
          padding: 0 16px;
          border: none;
          outline: none;
          width: calc(100% - 24px);
        }

        mat-icon {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    a {
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }

    .mat-list-container {
      position: absolute;
      padding: 5px;
      margin: 0 0 0 -320px;
      width: 600px;

      @media screen and (max-width:775px) {
        left: 0;
        width: 100%;
        margin: 0;
      }


    

      mat-list {
        padding: 18px;
        background-color: #ffffff;
        z-index: 3;
        min-width: fit-content;
        height: fit-content;
        width: 100%;


        mat-list-item {
          height: inherit;
        }

      }
    }

  }
}
