<div class="recipe-image-upload" [ngClass]="{
    error: controlDir && !controlDir.control.valid && controlDir.control.touched,
    hovered: isHovered
  }">
  <mat-label *ngIf="label" class="file-upload-label">{{ label }}</mat-label>
  <div dropZone (dropped)="onFileInputChange($event)" [class.hovered]="isHovered" (hovered)="setHoveredState($event)"
    class="file-drop">
    <mat-icon class="clear" *ngIf="previewImage" stopClickPropagation (click)="onFileInputChange(null)">clear</mat-icon>

    <input type="file" #fileInput hidden (change)="onFileInputChange($event.target['files'])"
      [accept]="allowedExtensions.join(',')" />

    <div class="content">
      <div class="wrapper">
        <div *ngIf="!previewImage; else fileDisplay" class="placeholder">
          <span>Privucite sliku na polje ili</span>
          <button mat-raised-button (click)="fileInput.click()">
            <span>
              <mat-icon>publish</mat-icon>
              Izaberite sliku
            </span>
          </button>
        </div>
        <ng-template #fileDisplay>
          <!-- Single upload -->
          <div class="file-display">
            <div class="image-preview__holder" *ngIf="previewImage">
              <div class="image-preview__text">
                <mat-icon>camera_alt</mat-icon> {{ previewImage.name }}
              </div>
              <div class="image-preview">
                <img [src]="previewImage.source" alt="" />
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
