@import 'client/@fuse/scss/fuse.scss';

$base-color: #039be5;

.recipe-image-upload {
  .file-drop {
    margin-top: 0.35rem;
    min-height: 250px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #929292;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1rem;

    .clear {
      position: absolute;
      right: 0.4rem;
      top: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
      font-size: 1.5rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 30;
    }

    .content {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: space-around;
      padding: 40px 0;

      .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        position: initial;
        padding: 0;
        overflow: initial;

        .placeholder {
          display: flex;
          flex-direction: column;
          color: #838383;

          >span {
            margin-bottom: 5px;
          }
        }

        button span {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
        }
      }
    }

    .image-preview {
      img {
        max-width: auto;
        max-height: 400px;
        height: auto;

      }

      &__text {
        display: flex;
        padding-bottom: 0;
        color: #838383;
        padding: 5px;
        align-items: center;

        & mat-icon {
          margin-right: 5px;
        }
      }

      &__holder {
        border: 1px solid #d0d0d0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }

      &__many {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  &.error {
    .file-drop {
      border: 1px dashed red;
    }

    .file-upload-label {
      color: red;
    }
  }

  &.hovered {
    .file-drop {
      // accent
      border: 1px solid $base-color !important;

      .file-display {
        // accent
        color: grey;
      }

      .choose-file-btn {
        // accent
        color: grey;
        border: 2px solid grey;

        mat-icon {
          color: grey;
        }
      }

      .content .wrapper .placeholder {
        color: grey;
      }
    }

    .file-upload-label {
      color: grey;
    }
  }
}
