@import 'client/@fuse/scss/fuse.scss';
$primary-color: #039be5;

:host {
  min-height: 100%;
  width: 100%;

  .ng- .logo-text {
    @include media-breakpoint('xs') {
      font-size: 20px;
    }
  }

  button {
    height: 36px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint('xs') {
      font-size: 12px;
    }
  }

  form {
    width: 100%;
    display: flex;

    @include media-breakpoint('lt-sm') {
      box-sizing: border-box;
      flex-direction: column;
    }

    .flex-row {
      width: calc(40% - 20px);
      margin: 10px;
      max-width: 550px;

      @include media-breakpoint('lt-md') {
        width: calc(50% - 20px);
      }

      @include media-breakpoint('lt-sm') {
        width: calc(100% - 20px);
      }
    }

    mat-form-field {
      width: 100%;
    }

    .slide-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
      row-gap: 5px;
      column-gap: 5px;
      grid-auto-rows: 60px;

      .slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    .gallery-container {
      margin-bottom: 10px;

      .text-container {
        margin-bottom: 10px;

        .gallery {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }

      .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        row-gap: 10px;
        column-gap: 10px;
        grid-auto-rows: 150px;
        box-sizing: border-box;

        .item-container {
          position: relative;
        }

        .image {
          position: relative;
          width: 100%;
          height: 100%;

          max-height: 150px;
          max-width: 220px;
          overflow: hidden;
          border-radius: 4px;
          transition: all 0.3s;
          margin: 0 auto;
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);

          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(
              $color: (
                #000000
              ),
              $alpha: 0.1
            );
            border-radius: 4px;

            &:hover {
              border: 5px solid
                rgba(
                  $color: (
                    $primary-color
                  ),
                  $alpha: 0.5
                );
            }
          }

          .img-default {
            border: 5px solid
              rgba(
                $color: (
                  $primary-color
                ),
                $alpha: 1
              );
            position: absolute;
            z-index: 5;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 4px;
          }

          .image-delete {
            position: absolute;
            top: 35px;
            right: 35px;
            z-index: 30;
            transition: all 0.3s;
            margin: 20px;

            mat-icon {
              width: 35px;
              height: 35px;
              font-size: 30px;
              text-align: center;
              background-color: #f5f5f5;
              color: inherit;
              opacity: 0.5;

              border-radius: 4px;
              cursor: pointer;
              transition: all 0.3s;
              box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);

              &:hover {
                transform: scale(1.1);
                opacity: 0.9;
              }
            }
          }

          .hide {
            display: none;
          }

          .show {
            display: block;
          }

          mat-icon {
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 0;
            margin: 10px;
            background-color: $primary-color;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            color: #ffffff;
            border-radius: 4px;
          }

          img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .map-container {
      width: 100%;
      height: 100%;
      max-height: 500px;

      #map {
        width: 100%;
        height: 100%;
      }
    }
  }

  .location-container {
    .map-wrapper {
      margin-bottom: 15px;
      border-radius: 4px;
      overflow: hidden;

      .map-container {
        position: relative;
        width: 100%;
        height: 400px;

        #map {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .owner-container {
    position: relative;
    border: 2px solid $primary-color;
    border-radius: 4px;
    padding: 20px 5px 5px 5px;

    .owner-container-title {
      color: $primary-color;
      font-weight: 600;
      font-size: 12px;
      position: absolute;
      right: 5px;
      top: 5px;
      opacity: 0.5;
    }
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  .horizontal-stepper-wrapper,
  .vertical-stepper-wrapper {
    max-width: 800px;
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-right: 24px;

    @include media-breakpoint('lt-sm') {
      margin-right: 16px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.logo-text {
  display: flex;
  justify-items: center;
  align-items: center;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-height: 150px;
  max-width: 220px;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(
      $color: (
        #000000
      ),
      $alpha: 0.1
    );
    border-radius: 4px;
  }

  .image-delete,
  .hide,
  .show {
    display: none;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.required-tag {
  opacity: 0.7;
}
