<div id="page-wrapper" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <!-- HEADER -->

  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <!-- APP TITLE -->

    <!-- ADD TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center"
      [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
      <span class="logo-text h1">
        <a [routerLink]="['/nekretnine', 'list']">
          <mat-icon class="accent logo-text h1">arrow_back</mat-icon>
        </a>
        {{ title ? title : 'Nova Nekretnina' }}
      </span>
    </div>

    <!--  SAVE BUTTON -->

    <button mat-raised-button class="add-product-button fuse-white mt-md-0" [disabled]="!this.form.valid"
      [@animate]="{ value: '*', params: { delay: '100ms', x: '25px' } }" (click)="onSave()">
      <span>Sacuvaj</span>
    </button>

    <!-- / SAVE BUTTON -->
  </div>
  <!-- ADD TITLE -->

  <!-- REACTIVE FORM  -->
  <div class="form-container mat-card mat-elevation-z8 m-16 m-sm-24"
    [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
    <form class="p-24 mr-24" name="form" [formGroup]="form">
      <div class="flex-row">
        <div class="active-real-estate">
          <div class="h2 mb-16">
            <div class="text-container">
              Prikaz nekretnine
            </div>
            <mat-divider></mat-divider>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Aktivnost</mat-label>
            <mat-select formControlName="isActive" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let active of activity" [value]="active.key">
                {{ active.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.isActive.errors?.required && this.form.get('isActive').touched">Polje
              Struktura je
              obavezno!</mat-error>
          </mat-form-field>

        </div>
        <div class="info-container">
          <div class="h2 mb-16">
            <div class="text-container">
              Informacije
            </div>
            <mat-divider></mat-divider>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Ponuda</mat-label>
            <mat-select formControlName="offerType" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let offer of offerType" [value]="offer.key">
                {{ offer.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.offerType.errors?.required && this.form.get('offerType').touched">Polje
              Ponuda je obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tip rezidencije </mat-label>
            <mat-select formControlName="residenceType" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let residence of residenceType" [value]="residence.key">
                {{ residence.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.residenceType.errors?.required && this.form.get('residenceType').touched">
              Polje Tip rezidencije je obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Struktura</mat-label>
            <mat-select formControlName="rooms" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let room of rooms" [value]="room.key">
                {{ room.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.rooms.errors?.required && this.form.get('rooms').touched">Polje Struktura je
              obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cijena (&euro;)</mat-label>
            <input matInput [errorStateMatcher]="matcher" type="number" min="0" formControlName="price" />
            <mat-error *ngIf="form.controls.price.errors?.required && this.form.get('price').touched">Polje Cijena je
              obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Kvadratura</mat-label>
            <input matInput [errorStateMatcher]="matcher" type="number" min="0" formControlName="area" />
            <mat-error *ngIf="form.controls.area.errors?.required && this.form.get('area').touched">Polje Kvadratura je
              obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Sprat</mat-label>
            <input matInput [errorStateMatcher]="matcher" type="text" formControlName="floor" />
            <mat-error *ngIf="form.controls.floor.errors?.required && this.form.get('floor').touched">Polje Sprat je
              obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Broj toaleta</mat-label>
            <input matInput [errorStateMatcher]="matcher" type="number" min="0" formControlName="toilet" />
            <mat-error *ngIf="form.controls.toilet.errors?.required && this.form.get('toilet').touched">Polje Broj
              toaleta
              je obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Vlasnik</mat-label>
            <input matInput [errorStateMatcher]="matcher" type="text" formControlName="owner" />
            <mat-error *ngIf="form.controls.owner.errors?.required && this.form.get('owner').touched">Polje Vlasnik
              je obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Internet</mat-label>
            <input matInput [errorStateMatcher]="matcher" type="text" formControlName="internet" />
            <mat-error *ngIf="form.controls.internet.errors?.required && this.form.get('internet').touched">Polje
              Internet
              je obavezno!</mat-error>
          </mat-form-field>

          <div class="slide-container">
            <div class="slide">
              <mat-label>Lift</mat-label>
              <mat-slide-toggle name="elevator" formControlName="elevator"></mat-slide-toggle>
            </div>

            <div class="slide">
              <mat-label>Opermljen</mat-label>
              <mat-slide-toggle formControlName="furnished"></mat-slide-toggle>
            </div>

            <div class="slide">
              <mat-label>Terasa</mat-label>
              <mat-slide-toggle formControlName="terrace"></mat-slide-toggle>
            </div>

            <div class="slide">
              <mat-label>Privatni parking</mat-label>
              <mat-slide-toggle formControlName="privateParking"></mat-slide-toggle>
            </div>

            <div class="slide">
              <mat-label>Potkrovlje</mat-label>
              <mat-slide-toggle formControlName="attic"></mat-slide-toggle>
            </div>
          </div>
        </div>

        <div class="gallery-container">
          <div class="h2 mb-16">
            <div class="text-container">
              <div class="gallery">
                <span>Galerija fotografija</span>

                <button mat-raised-button class="add-product-button accent mt-md-0"
                  [@animate]="{ value: '*', params: { delay: '100ms', x: '25px' } }" (click)="openDialog()">
                  <span>
                    <mat-icon>publish</mat-icon> Upload
                  </span>
                </button>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
          <div class="image-container" cdkDropListGroup>
            <ng-container *ngFor="let image of photos; let i = index">
              <div class="item-container" cdkDropList [cdkDropListData]="{ item: image, index: i }"
                cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                <div class="image" cdkDrag>
                  <img src="{{ environment.mediaUrl }}/sm-{{ image }}" [alt]="image" />
                  <div class="overlay"></div>
                  <div class="image-delete" (click)="deletePreview(i)">
                    <mat-icon>delete</mat-icon>
                  </div>
                  <div class="img-default hide" [ngClass]="image === photos[0] ? 'show' : 'hide'">
                    <mat-icon>done</mat-icon>
                  </div>
                  <div class="custom-placeholder" *cdkDragPlaceholder></div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="360-container">
          <div class="h2 mb-16">
            <div class="text-container">
              360 Foto
            </div>
            <mat-divider></mat-divider>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Link do eksternog servisa <span class="required-tag"><sup>(opc. polje)</sup></span></mat-label>
            <input matInput [errorStateMatcher]="matcher" type="text" formControlName="gallery360" />
            <mat-error *ngIf="form.controls.gallery360.errors?.required && this.form.get('gallery360').touched">Link do
              eksternog servisa je obavezan!</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="flex-row">
        <div class="location-container">
          <div class="h2 mb-16">
            <div class="text-container">
              Lokacija
            </div>
            <mat-divider></mat-divider>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Grad</mat-label>
            <mat-select formControlName="city" [errorStateMatcher]="matcher"
              (selectionChange)="citySelected($event.value)">
              <mat-option *ngFor="let city of cities; let i = index" [value]="city.name">
                {{ city.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.city.errors?.required && this.form.get('city').touched">Polje Grad je
              obavezno!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Dio grada</mat-label>
            <mat-select formControlName="district">
              <mat-option *ngFor="let district of districts" [value]="district">
                {{ district }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ulica</mat-label>
            <input matInput [errorStateMatcher]="matcher" type="text" formControlName="address" />
            <mat-error *ngIf="form.controls.address.errors?.required && this.form.get('address').touched">Polje Ulica je
              obavezno!</mat-error>
          </mat-form-field>

          <div class="map-wrapper">
            <div class="map-container">
              <div #map id="map"></div>
            </div>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Tekstualni opis lokacije <span class="required-tag"><sup>(opc. polje)</sup></span></mat-label>
            <textarea matInput type="text" formControlName="locationDescription" rows="10"></textarea>
            <mat-error>Opis je obavezan!</mat-error>
          </mat-form-field>


        </div>

        <div class="owner-container">
          <div class="h2 mb-16">
            <div class="text-container">
              Podaci vlasnika nekretnine
            </div>
            <mat-divider></mat-divider>
          </div>
          <div class="owner-container-title">
            Vidljivo samo adminu
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Ime i prezime vlasnika nekretnine <span class="required-tag"><sup>(opc. polje)</sup></span>
            </mat-label>
            <input matInput [errorStateMatcher]="matcher" type="text" formControlName="ownerFullName" />
            <mat-error *ngIf="form.controls.ownerFullName.errors?.required && this.form.get('ownerFullName').touched">
              Polje
              Ime i prezime vlasnika nekretnine
              je
              obavezno!</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email vlasnika nekretnine <span class="required-tag"><sup>(opc. polje)</sup></span></mat-label>
            <input matInput [errorStateMatcher]="matcher" type="text" formControlName="ownerEmail" />
            <mat-error *ngIf="form.controls.ownerEmail.errors?.required && this.form.get('ownerEmail').touched">Polje
              Email vlasnika nekretnine je
              obavezno!</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Broj telefona vlasnika nekretnine <span class="required-tag"><sup>(opc. polje)</sup></span>
            </mat-label>
            <input matInput [errorStateMatcher]="matcher" type="text" formControlName="ownerPhoneNumber" />
            <mat-error
              *ngIf="form.controls.ownerPhoneNumber.errors?.required && this.form.get('ownerPhoneNumber').touched">Polje
              Broj telefona vlasnika nekretnine je
              obavezno!</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
