<div class="header">
  <div class="title">
    <h4 class="mat-title">
      Dodaj fotografiju
    </h4>
    <div class="p-dialog-header__close">
      <button class="btn-close" (click)="close()">
        <span>
          <mat-icon>
            close
          </mat-icon>
        </span>
      </button>
    </div>
  </div>
</div>
<div class="p-dialog-content">
  <recipe-image-upload
    [(ngModel)]="photo"
    [allowedExtensions]="['image/x-png', 'image/gif', 'image/jpeg']"
  >
  </recipe-image-upload>
</div>

<div class="p-dialog-footer">
  <div class="p-dialog-footer__actions">
    <button mat-raised-button class="accent" (click)="save()" [disabled]="!photo">
      Upload
    </button>
  </div>
</div>
