@import 'client/@fuse/scss/fuse.scss';

:host {

  .header {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .mat-title {
        margin: 0;

        @include media-breakpoint('xs') {
          font-size: 16px;
        }
      }

      .btn-close {
        border: none;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }


}
