@import 'client/@fuse/scss/fuse';

fuse-navigation {
  display: flex;
  flex: 1 0 auto;

  > .nav {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .version {
    font-size: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}
