<div class="header-search-filters">
  <div class="search-nav-links">
    <div class="search-dropdown-group">
      <!-- Activity -->
      <p-dropdown [options]="activity" [(ngModel)]="selectedActivity" optionLabel="name" placeholder="Aktivnost"
        [filter]="true" class="search-control" (ngModelChange)="onSelectResidence()" [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'">
        <ng-template let-item pTemplate="selectedItem">
          <ng-container *ngIf="item.value.key === undefined">
            Aktivnost
          </ng-container>
          <ng-container *ngIf="item.value.key !== undefined">
            {{ item.label }}
          </ng-container>
        </ng-template>
      </p-dropdown>
      <!-- Activity -->

      <!-- offerType -->
      <p-dropdown [options]="offerType" [(ngModel)]="selectedOfferType" optionLabel="name" placeholder="Ponuda"
        [filter]="true" class="search-control" (ngModelChange)="onSelectResidence()" [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'">
        <ng-template let-item pTemplate="selectedItem">
          <ng-container *ngIf="!item.value.key">
            Ponuda
          </ng-container>
          <ng-container *ngIf="item.value.key">
            {{ item.label }}
          </ng-container>
        </ng-template>
      </p-dropdown>
      <!-- offerType -->

      <!-- cities -->
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Grad" [filter]="true"
        (ngModelChange)="onCity(selectedCity);onSelectResidence()" [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'">
        <ng-template let-item pTemplate="selectedItem">
          <ng-container *ngIf="!item.value.pos">
            Grad
          </ng-container>
          <ng-container *ngIf="item.value.pos">
            {{ item.label }}
          </ng-container>
        </ng-template>
      </p-dropdown>
      <!-- cities -->

      <!-- settlements -->
      <p-dropdown [options]="settlements" [(ngModel)]="selectedSettlement" optionLabel="name" placeholder="Dio grada"
        [filter]="true" class="search-control" (ngModelChange)="onSelectResidence()" [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'">
        <ng-template let-item pTemplate="selectedItem">
          <ng-container *ngIf="item.label === 'Sve'">
            Dio grada
          </ng-container>
          <ng-container *ngIf="item.label !== 'Sve'">
            {{ item.label }}
          </ng-container>
        </ng-template>
      </p-dropdown>
      <!-- settlements -->

      <!-- residenceType -->
      <p-multiSelect [options]="residenceType" [(ngModel)]="selectedResidence" optionLabel="name"
        class="search-control residence-type" defaultLabel="Tip rezidencije" [filter]="false"
        (ngModelChange)="onSelectResidence()" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'">
      </p-multiSelect>
      <!-- residenceType -->

      <!-- Price -->
      <div class="dropdown ">
        <button type="button" class="dropbtn" (click)="onAddClass($event)">
          <span class="price-container">
            <p>{{priceInputTitle}}</p>
          </span>
          <span class="ui-multiselect-trigger-icon ui-clickable ng-tns-c215-6 pi pi-chevron-down"
            ng-reflect-ng-class="pi pi-chevron-down"></span>
        </button>
        <div class="dropdown-content" [ngClass]="toggleClass ? 'toggle-content' : ''">
          <input type="number" name="price" class="price-fields" placeholder="Od" [(ngModel)]="priceFrom"
            (ngModelChange)="priceTitle(priceFrom,priceTo)" />
          <input type="number" name="price" class="price-fields" placeholder="Do" [(ngModel)]="priceTo"
            (ngModelChange)="priceTitle(priceFrom,priceTo)" />
          <button pButton type="button" label="Primeni Filter" (click)="onSelectResidence()"></button>

        </div>
      </div>
      <!-- Price -->

      <!-- Rooms -->
      <p-multiSelect [options]="rooms" [(ngModel)]="selectedRooms" optionLabel="name" defaultLabel="Struktura"
        class="search-control" [filter]="false" (ngModelChange)="onSelectResidence()" [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'">
      </p-multiSelect>
      <!-- Rooms -->



      <!-- /REAL-ESTATE SEARCH -->
      <app-real-estate-search></app-real-estate-search>
      <!-- /REAL-ESTATE SEARCH -->

      <!-- RESET -->
      <div class="reset" (click)="resetFilters()">
        <button class="accent" type="button">
          <span class="pi pi-undo"></span>
        </button>
      </div>
      <!-- RESET -->


    </div>
  </div>
</div>
