//PRIMENG STYLES
@import '../../../../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../../../node_modules/primeicons/primeicons.css';

@import 'client/sass/variables';
@import 'client/sass/mixins';
@import 'client/@fuse/scss/fuse';

:host {
  width: 100%;
  max-width: 100%;

  @media screen and (max-width: 407px) {
    padding: 5px;
  }
}

.header-search-filters {
  position: relative;
  width: inherit;
}

input {
  outline: $none;
}

.search-dropdown-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: inherit;

  &>* {
    margin: 6px;
  }

  @media screen and (max-width: 407px) {
    flex-direction: column;

    &>* {
      margin: 6px 0;
      max-width: 100%;
    }
  }
}

.search-nav-links {
  display: $flex;
  width: inherit;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;


  .price-container {
    width: calc(100% - 48px);
    max-height: 48px;
    overflow: hidden;


    p {
      text-align: center;
      width: 100%;
      max-width: 100%;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /* Style The Dropdown Button */
  .dropbtn {
    @include flexbox($flex, $center, $center);
    @include font-family($popins, 16px, $bold-5);
    @include filters-default;
    min-width: 170px;
    width: 100%;
    max-width: 250px;
    background: $white;
    padding: 0;

    cursor: pointer;

    @media screen and (max-width:1200px) {
      max-width: 170px;
    }

    @media screen and (max-width: 407px) {
      max-width: 100%;
    }


    .pi {
      color: $h-color;
      width: 28px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: relative;
  display: $none;
  right: 0;
  padding: 20px 10px;
  background-color: $white;
  width: 100%;

  /* Links inside the dropdown */
  input {
    text-decoration: $none;
    display: $block;
    overflow: $hidden;
    border-radius: 4px;
    padding: 0.429em;
    border: 1px solid #a6a6a6;
    width: 100%;
    margin-bottom: 0.429em;
  }

  button {
    border-radius: 4px;
    background-color: $main-color;
    border: none;

  }
}



/* Show the dropdown menu on hover */
.toggle-content {
  margin-top: 3px;
  display: $flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  border-radius: 4px;
  padding: 0.429em 0.857em 0.429em 0.857em;
  background-color: $white;
  border: 1px solid #c8c8c8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  width: 100%;


}

//TOGGLE FILTERS
.toggle-filter-menu {
  display: $none;
  padding: 0 10px;
  cursor: $pointer;
}

.close-filters {
  display: $none;
  padding: 5px 10px;
}

//SECTION PRICE
.price-section {
  max-width: $max;
}

.input-fields-container {
  max-width: $max;
  display: $flex;
  flex-wrap: wrap;
}

.price-fields {
  border-radius: $radius-66;
  padding: 10px 15px;

  &::placeholder {
    font-weight: 500;
  }
}

app-real-estate-search {
  max-width: 275px;
  width: 100%;

  @media screen and (max-width: 407px) {
    max-width: 100%;
  }
}

.reset {
  button {
    @include filters-default;
    width: 75px;
    cursor: pointer;

    .pi {
      width: 100%;
      height: 100%;


      &:before {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
    }
  }
}
