<mat-toolbar class="p-0 mat-elevation-z1">
  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="navbar-toggle-button"
        *ngIf="!hiddenNavbar && !rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
        fxHide.gt-md
      >
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
        <div class="logo ml-16">
          <img class="logo-icon" src="assets/images/logo_nest360_white.png" />
        </div>
      </div>
    </div>

    <div class="current-user" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <div class="link-mail">
        <a href="{{ environment.webMailUrl }}" target="_blank"
          ><p fxHide fxShow.gt-sm>Posjeti webmail</p>
          <mat-icon>email</mat-icon></a
        >
      </div>
      <div class="link-site border-tab">
        <a href="{{ environment.clientUrl }}" target="_blank"
          ><p fxHide fxShow.gt-sm>Posjeti web platformu</p>
          <mat-icon>open_in_browser</mat-icon></a
        >
      </div>

      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button border-tab">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="username mr-12" fxHide fxShow.gt-sm>{{
            user ? user.fullName : 'Unknown User'
          }}</span>
          <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
        </div>
      </button>

      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button *ngIf="user?.role !== 'admin'" mat-menu-item (click)="onEditAdmin()">
          <mat-icon>account_circle</mat-icon>
          <span>Uredi</span>
        </button>

        <button *ngIf="user?.role !== 'admin'" mat-menu-item (click)="onUpdatePassword()">
          <mat-icon>vpn_key</mat-icon>
          <span>Promeni lozinku</span>
        </button>

        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
